---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Estudiante de Desarrollo de Software",
    company: "Politecnico Internacional de Colombia",
    description:
      "Estudiante de desarrollo de software apasionado por el backend y el desarrollo de aplicaciones (Web y moviles)",
    link: "https://github.com/Sam-Dev0",
  },
  {
    date: "2025",
    title: "API Rest",
    company: "Proyecto Personal",
    description:
      "Desarrollo de API con Spring Boot y MySQL, implementando validación de métodos HTTP y manejo de excepciones para garantizar la integridad de los datos.",
    link: "https://github.com/Sam-Dev010/Api-Rest",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
